.content {
    height: 30px;
    width: 100px;
    border-radius: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
}