.rounded_chart {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 50px;
    min-height: 50px;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 100;
    color: #000;
    user-select: none;
}

.indicator p {
    font-weight: 400;
    font-size: 12px;
}

