.homepage_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;
    gap: 20px;
}

.homepage_content h3 {
    color:#E30613;
}

.homepage_basic_info {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homepage_principal_info {
    width: 80%;
}

.homepage_content select {
    width: 100px;
    height: 30px;
    border: 1px solid #CED4DA;
    box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06), 0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 8px;
    padding: 0 5px;
    right: 0;
    margin-left: 30px;
    margin-bottom: -10px;
}

.homepage_basic_info input {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #CED4DA;
    box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06), 0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 8px;
    font-size: 16px;
}

.homepage_basic_info input:focus {
    outline: none;
    border: 2px solid #E30612;
}

.homepage_basic_info_btn {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.homepage_basic_info button {
    background-color: #E30613;
    color: #fff;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
}

.homepage_basic_info_tasks {
    display: flex;
    width: 100%;
    gap: 10px;
}

.homepage_basic_info_tasks select {
    margin: 0;
    width: 100%;
    height: 100%;
}

.homepage_basic_info_chart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.rounded_charts_content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 15px 0px;
}

.rounded_charts_content svg {
    cursor: pointer;
    outline: none;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.tasks_content {
    padding: 15px 0px;
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks_content_info {
    display: flex;
    justify-content: space-between;
}

.tasks_content_tile {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.direct_task {
    display: flex;
    align-items: baseline;
    justify-content:flex-end;
    padding-top: 10px;
    color: #212529;
    font-size: 16px;
}

.homepage_task_purchase {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.homepage_task_card {
    display: flex;
    flex-direction: column;
}

.homepage_task_card_info{
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.basic_card_style{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px;;
    gap: 10px;
}

.basic_card_style h1 {
    font-weight: 900;
    font-size: 50px
}

.homepage_purchase_card {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}