.homepage_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
  gap: 20px;
}

.homepage_content h3 {
  color: #e30613;
}

.homepage_basic_info {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homepage_principal_info {
  width: 80%;
}

.homepage_content select {
  width: 100px;
  height: 30px;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
  padding: 0 5px;
  right: 0;
  margin-left: 30px;
  margin-bottom: -10px;
}

.homepage_basic_info input {
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
  font-size: 16px;
}

.homepage_basic_info input:focus {
  outline: none;
  border: 2px solid #e30612;
}

.homepage_basic_info_btn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.homepage_basic_info button {
  background-color: #e30613;
  color: #fff;
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
}

.homepage_basic_info_tasks {
  display: flex;
  width: 100%;
  gap: 10px;
}

.homepage_basic_info_tasks select {
  margin: 0;
  width: 100%;
  height: 100%;
}

.homepage_basic_info_chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rounded_charts_content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px 0px;
}

.rounded_charts_content svg {
  cursor: pointer;
  outline: none;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.tasks_content {
  padding: 15px 0px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks_content_info {
  display: flex;
  justify-content: space-between;
}

.tasks_content_tile {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.direct_task {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-top: 10px;
  color: #212529;
  font-size: 16px;
}

.homepage_task_purchase {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.homepage_task_card {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.homepage_task_card_info {
  display: flex;
  gap: 40px;
  margin: 10px 0;
}

.basic_card_style {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 10px;
  gap: 10px;
}

.basic_card_style h1 {
  font-weight: 900;
  font-size: 50px;
}

.homepage_purchase_card {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}

.purchase_card_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purchase_card_info {
  display: flex;
}

.purchase_card_info p {
  font-weight: bold;
}

.purchase_card_info_boi {
  width: 50%;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.purchase_card_info_vaca {
  width: 50%;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.offers_charts_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.offers_charts_content svg {
  width: 80px;
  height: 80px;
  margin: 0;
}

.offers_charts_content.decreases {
  width: 25%;
}

.offers_charts_content_position {
  max-width: 70%;
  min-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.carousel_table_content {
  display: flex;
  width: 100%;
}

.carousel_table_content {
  width: 100%;
  height: 200px;
  gap: 20px;
}

.itens_content_carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cards_carousel {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.p_negrito {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.cards_carousel_display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  gap: 6px;
  min-width: 250px;
  height: 220px;
  background: #ffffff;
  border: 1px solid #ced4da;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
}

.p_suave {
  font-size: 14px;
  color: #6c757d;
}

.orderDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  color: #adb5bd;
}

.itens_carousel_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #ced4da;
  padding: 10px 0;
  width: 100%;
}

.itens_carousel_info_2 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ced4da;
  width: 100%;
  padding-bottom: 5px;
}

.itens_carousel_info_3 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0px;
}

.redirect_carousel {
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #52afe3;
}

.carousel_status {
  width: 100px;
  height: 25px;
  background-color: #a3e2b4;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_status span {
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #55a96c;
}

.carousel_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  gap: 10px;
}

.carousel_filter_link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel_filter_link select {
  margin: 0;
}

.carousel_filter_link a {
  color: #212529;
}

.table_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.table_title a {
  color: #212529;
}

@media screen and (max-width: 1510px) {
  .rounded_charts_content svg {
    width: 65px;
    height: 65px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .rounded_charts_content svg {
    width: 55px;
    height: 55px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
  }
}
