.login_content {
    background-image: url("../../assets/fundoLogin.svg");
    background-repeat: no-repeat;
    background-size : cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}